.masklayer{
   position: absolute;
   height: 100%;
   width: 100%;
   opacity: .5; 
   z-index: 20;
   background-color: #52a10a;
}
.game-background span{
    z-index: 30;
    color: aliceblue;
    display: inline-block;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 1rem;
}
.point{
    top: 1rem !important;
    left: 1rem !important;
    display: inline !important;
    text-align: left !important;
    width: 50%  !important;
    font-size: .5rem;
}
canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}
.game-fail{
    grid-template-columns: 1fr 1fr;
    z-index: 999;
    color: #FFF;
    height: 100%;
}