.bj{
    
}
.masklayer{
   position: absolute;
   height: 100%;
   width: 100%;
   opacity: .5; 
   z-index: 10;
   background-color: aliceblue;
}
.bj span{
    z-index: 20;
    color: aliceblue;
    display: inline-block;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 1rem;
}
.point{
    top: 1rem !important;
    left: 1rem !important;
    display: inline !important;
    text-align: left !important;
    width: 50%  !important;
}
canvas {
    position: absolute;
    left: 0;
    top: 0;
}